{% extends 'base.html' %}

{% block title %}Lista de Partidos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for partido in partidos %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="{{ partido }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ partido.equipo_local.nombre }} vs {{ partido.equipo_visitante.nombre }}</h5>
                        <p class="card-text">
                            <strong>Fecha:</strong> {{ partido.fecha }}<br>
                            <strong>Competencia:</strong> {{ partido.competencia.nombre }}<br>
                            <strong>Temporada:</strong> {{ partido.temporada.anio }}<br>
                            <strong>Estadio:</strong> {% if partido.estadio %}{{ partido.estadio.nombre }}{% else %}N/A{% endif %}<br>
                            <strong>Goles Local:</strong> {{ partido.goles_local }}<br>
                            <strong>Goles Visitante:</strong> {{ partido.goles_visitante }}<br>
                        </p>
                        <a href="{% url 'partido_detail' partido.pk %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}